:root{
    --black:        #2f3640;
    --bright-blue:  #00a8ff;
    --brigt-red:    #e84118;
    --bright-green: #4cd137;
    --bright-yellow:#fbc531;
    --white:        #f5f6fa;
    --grey:         #7f8fa6;
    --shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    --transition-fast: all .3s ease;
}

body{
    margin: 0;
    display: grid;
    grid-template-areas:
        '. . .'
        '. menu .'
        '. . .';
}

.menu{
    transition: var(--transition-fast);
    grid-area: menu;
    height: 70vh;
    width: 70vw;
    display: grid;
    align-self: center;
    justify-self: center;
    margin: auto;
    position: relative;
    top: 20vh;
    border: 1px solid var(--black);
    background-color: var(--grey);
}

.menu-button {
    width: 60%;
    height: 60%;
    margin: auto;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--bright-blue);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 3px var(--black);
    transition: var(--transition-fast);
}

.menu-button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: var(--bright-yellow);
}

.menu-title, input.media-path-input, textarea.answer, textarea.extra-info, textarea.question{
    margin: auto;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: var(--white);
    width: 80%;
    height: 90px;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px black;
    line-height: 90px;
}

/*  STATUS CLASSES START   */
.hidden{
    visibility: hidden;
}

.invisible{
    display: none !important;
}


/*  STATUS CLASSES END    */

.input-wrapper {
    width: 60%;
    align-self: center;
    justify-self: center;
    height: 60%;
    /* line-height: 56px; */
    justify-content: space-between;
    display: flex;
    border: 1px solid var(--black);
    background-color: var(--bright-blue);
    padding: 0px 15px 0px 15px;
}

.input-wrapper > input {
    height: 70%;
    font-size: 60px;
    padding: 0px 10px 0px 10px;
    width: 20%;
    align-self: center;
    text-align: center;
}

.input-wrapper > span {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

.confirm-button {
    background-color: var(--bright-green);
    width: 60%;
    height: 60%;
    margin: auto;
    border: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 3px var(--black);
    transition: var(--transition-fast);
}

.confirm-button:disabled{
    background-color: var(--brigt-red);
}

.confirm-button:hover {
    cursor: pointer;
    background-color: var(--bright-yellow);
    box-shadow: none;
}

#themes-wrapper {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}

.theme-button {
    width: 60%;
    height: 10vh;
    margin: auto;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--bright-blue);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 3px var(--black);
    transition: var(--transition-fast);
}

.theme-button:hover {
    cursor: pointer;
    background-color: var(--bright-yellow);
    box-shadow: none;
}

#theme-menus-wrapper {
   display: contents;
}

button.confirm-button.theme-confirm {
    height: 40%;
    width: 40%;
    margin-bottom: 15px;
    margin-top: 0px;
}

.displays-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

button.display-question {
    border-radius: 5px 5px 0 0;
    display: flex;
    width: 90px;
    height: 35px;
    justify-content: center;
    border: none;
    background-color: var(--bright-blue);
    transition: var(--transition-fast);
    box-shadow: var(--shadow);
}

button.display-question:hover {
    background-color: var(--bright-yellow);
    box-shadow: none;
}

.theme-menu {
    grid-template-rows: 150px 70px 1fr 100px;
}

.question-wrapper {
    display: grid;
    align-items: center;
    width: 90%;
    margin: auto;
    transition: var(--transition-fast);
}

textarea.question, input.media-path-input, textarea.answer, textarea.extra-info {
    margin-bottom: 10px;
    height: 45px;
    font-size: 16px;
    text-align: left;
    line-height: inherit;
    padding-left: 10px;
    padding-top: 5px;
}

.ready-wrapper {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.ready-wrapper input {
    opacity: 0;
}

input[type="checkbox"]:checked + .ready-label
 {
    background-color: var(--bright-green);
}

label.ready-label {
    font-size: 30px;
    background-color: var(--white);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    user-select: none;
    transition: var(--transition-fast);
}

.answer-wrapper {
    display: grid;
    grid-template-areas:
        "points step"
        "answer answer";
}

input.point-input {
    width: 50%;
    grid-area: points;
    justify-self: end;
    margin-right: 5px;
}

input.step-input {
    width: 50%;
    grid-area: step;
    margin-left: 5px;
}

textarea.answer {
    grid-area: answer;
}

textarea.extra-info {
    margin-bottom: 0;
}

button.display-question.selected {
    background-color: var(--bright-yellow);
}

button.display-question.ready {
    background-color: var(--bright-green);
}